
.main-header {
  width: 410px;
  margin: 2rem auto 0 auto;
}

.logo {
  width: 365px;
  display: block;
  margin: 0 auto;
}


.random {
  width: 122px;
  height: 35px;
  background-color: var(--black);
  border: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
}

.random:hover {
  cursor: pointer;
}

.random:hover svg {
  animation: randomAnimation infinite .3s alternate-reverse;
}

@keyframes randomAnimation {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(5px);
  }
}

.search-container {
  width: 404px;
  display: flex;
  justify-content: space-between;
}

.search-box {
  width: 250px;
  height: 35px;
  display: flex;
}

.search-box input {
  flex: 1;
  border: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search-box button {
  width: 32px;
  background-color: var(--black);
  border: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
